*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .d-flex{
    display: flex;
  }
  .justify-space{
    justify-content: space-between;
  }
  .nav{
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 20px;
  }
  .App{
    background-color: rgb(155, 220, 199);
  }
  .logo img{
    width: 50%;
    padding: 20px 10px;
  }
  .error{
    border: 2px solid red ;
  }